<h1>Rules#show</h1>

<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <b>Execution Order: </b>
      </h1>
      <p>
        <%= @rule.execution_order %>
      </p>
      <h1>
        <b>Field: </b>
      </h1>
      <p>
        <%= @rule.field %>
      </p>
      <h1>
        <b>Regex: </b>
      </h1>
      <p>
        <%= @rule.regex %>
      </p>
      <h1>
        <b>Path: </b>
      </h1>
      <p>
        <%= @rule.path %>
      </p>     
    </section>
  </aside>
</div>

<%= link_to "Delete Rule", @rule, method: :delete,
data: { confirm: "You sure?" }, class: "btn btn-lg btn-primary" %>